@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using System.Globalization
@using Microsoft.JSInterop
@using UUGS2025.Business.Services.Interfaces
@using UUGS2025.Models
@using Umbraco.Cms.Web.Common

@inject IJSRuntime _jsRuntime
@inject UmbracoHelper _umbracoHelper
@inject ISearchService _searchService
@inject ILogger<SearchBlazorPage> _logger

@code
{
    // [Parameter]
    // public string CultureName { get; set; }

    private string inputQuery = "";
    private string cultureName = CultureInfo.CurrentCulture.Name;
    private SearchModel searchModel = new SearchModel();
    private bool isSearching = false;
    private CultureInfo cultureInfo { get; set; }
    private List<Hit> pages = new List<Hit>();

    protected override async Task OnInitializedAsync()
    {
        cultureInfo = new CultureInfo(cultureName);
    }

    private async Task SearchContentAsync()
    {
        try    
        {
            isSearching = true;
            searchModel.Query = inputQuery;

            pages.Clear();
            
            await Task.Delay(3000);
            pages = _searchService.SearchContent(searchModel.Query, cultureInfo);
        }
        catch (Exception e)
        {            
            _logger.LogError(e.Message);
        }
        finally        
        {
            isSearching = false;
        }
        
        StateHasChanged();
    }
}

<div class="container">
    <!-- Search Form -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>@_umbracoHelper.GetDictionaryValue("SearchByBlazor", cultureInfo)</h1>

            <EditForm Model="@searchModel" OnValidSubmit="SearchContentAsync">
                <div class="input-group search-box">
                    <InputText id="searchInput" class="form-control search-input" name="query" type="search" placeholder="@_umbracoHelper.GetDictionaryValue("SearchForContent", cultureInfo)" aria-label="Search" @bind-Value="@inputQuery" disabled="@isSearching" />
                    <button type="submit" class="input-group-text search-button" id="submitButton" disabled="@isSearching">
                        <span class="button-text">
                            <i class="@(isSearching ? "" : "fas fa-search")"></i>
                        </span>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="@(isSearching ? "display:inline-block;" : "display:none;")"></span>
                    </button>
                </div>
            </EditForm>
        </div>
    </div>

    <!-- Search Results -->
    @if (pages != null && pages.Any())
    {
        <div class="search-results mt-4" id="searchResults">
            <h3>@_umbracoHelper.GetDictionaryValue("SearchResultFor", cultureInfo) "@searchModel.Query":</h3>

            <ul>
                @foreach (var item in pages)
                {
                    <li>
                        @item.Name<br/>
                        @item.Description<br />
                        @item.CreateDate<br /><br />
                    </li>
                }
            </ul>
        </div>
    }
</div>